@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'HKGrotesk';
  src: url('@/fonts/HKGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('@/fonts/HKGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('@/fonts/HKGrotesk-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('@/fonts/HKGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('@/fonts/HKGrotesk-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .border-primary {
    @apply border-b-1 border-black;
  }
  .border-secondary {
    @apply border-t-1 border-black;
  }
  .topPos {
    @apply relative top-2/25 max-h-9/10;
  }
  .btnActive {
    .slick-dots li.slick-active button:before {
      color: white;
    }
  }
}

.slick-dots {
  bottom: 80px;
}

.slick-dots li button::before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: #d13f3f;
}

.slick-prev,
.slick-next {
  top: 35%;
}
